@import '../../variables.scss';

.buttonGroup {
  width: 300px;
  display: flex;
  justify-content: space-between;
  position: relative;

  button {
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    height: 36px;
    font-family: 'Lato', sans-serif;
  }
  .authGroup {
    width: 175px;
    display: flex;
    justify-content: space-between;
    button {
      font-weight: 600;
      font-size: 0.9rem;
      padding: 0px 20px 0px 20px;
    }
  }
  .loginButton {
    color: white;
    border: none;
    border: 1px solid $button-color-blue;
    background-color: $button-color-blue;
  }
  .signupButton {
    background-color: white;
    border: 1px solid $button-color-blue;
    color: $button-color-blue;
  }
  .mycartButton {
    font-weight: bold;
    align-items: center;
    display: flex;
    color: black;
    background-color: white;
    padding: 6px 8px 8px 8px;
    border: 1px solid $input-border-blue;
  }
  .numberLabel {
    color: white;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-left: 2em;
    background-color: #ff9017;

    padding: 3px 6px 3px 6px;
  }
}
.myAccount {
  width: 100px;
  cursor: pointer;

  color: #969696;
  display: flex;
  align-items: center;
  justify-content: space-around;
  span {
    font-size: 0.8rem;
  }
}
