@import 'variables.scss';

.menu {
  position: absolute;
  cursor: pointer;
  background-color: #667eea;
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  color: white;
  width: 100vw;

  right: 8rem;
  top: 4rem;

  & > button {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &:hover,
    &:focus {
      background-color: $button-color-blue;
    }
  }

  &::after {
    content: '';
    height: 0.6rem;
    right: 0.3rem;
    top: calc(-0.25rem - 1px);
    transform: rotate(-45deg);
    width: 0.6rem;
  }
}
