$input-border-blue: #e0e7ff;
$input-background-blue: rgba(224, 231, 255, 0.2);
$input-font-color: rgba(0, 123, 255, 0.29);
$label-form-color: #363636;
$login-background-color: #f7f7f7;
$button-color-blue: #007bff;
$form-error-color: #fa3434;
$form-error-placeholder-color: #ffbbbb;
$form-error-background: #feeaea;
$main-background-color: #f7f7f7;
$per-unit-color: #b9b9b9;
$product-desc-color: #969696;
